<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" href="css/ecommerce.css">
    <title>Document</title>
</head>
<body>

    <section id="header">
        <a href="#"><img src="" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a  href="/">Home</a></li>
                <li><a class="active" href="/shop">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
             
                <li id="lg-bag"><a href="/cart"><i class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
        
            </ul>
        </div>
        <div id="mobile">
            
            <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    
    <section id="page-header">
       
        <h2>#STAYCOOL</h2>
        
        <p>Save more with the coupons & up to 70% off!</p>
        
    </section>

    

    <section id="profuct1" class="section-p1">
        
        <div class="pro-container">
            <div class="pro" onclick="window.location.href='/sproduct'">
                <img src="img/shirt2.jpg" alt="">
                <div class="des">
                    <span>Mango</span>
                    <h5> T-shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$86</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top10.webp" alt="">
                <div class="des">
                    <span>Roadster</span>
                    <h5>Black T-shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$28</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top2.avif" alt="">
                <div class="des">
                    <span>H&M</span>
                    <h5>Cartoon T-shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top9.webp" alt="">
                <div class="des">
                    <span>Libas</span>
                    <h5>Floral shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$50</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top3.webp" alt="">
                <div class="des">
                    <span>Mnago</span>
                    <h5> T-shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$86</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top1.webp" alt="">
                <div class="des">
                    <span>Roadster</span>
                    <h5>Solid maroon top</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top4.webp" alt="">
                <div class="des">
                    <span>Libas</span>
                    <h5>Floral Dress</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top5.webp" alt="">
                <div class="des">
                    <span>Libas</span>
                    <h5>Floral Dress</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top6.webp" alt="">
                <div class="des">
                    <span>Libas</span>
                    <h5>Floral Dress</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top7.webp" alt="">
                <div class="des">
                    <span>Rekha</span>
                    <h5>Embroided top</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$74</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
       
            <div class="pro">
                <img src="img/top11.webp" alt="">
                <div class="des">
                    <span>Mango</span>
                    <h5> T-shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$86</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top16.jfif" alt="">
                <div class="des">
                    <span>Roadster</span>
                    <h5>Black T-shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$28</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top9.webp" alt="">
                <div class="des">
                    <span>H&M</span>
                    <h5>Cartoon T-shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$56</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top20.jfif" alt="">
                <div class="des">
                    <span>Libas</span>
                    <h5>Floral shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$50</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top14.webp" alt="">
                <div class="des">
                    <span>Mnago</span>
                    <h5> T-shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$86</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top19.jpg" alt="">
                <div class="des">
                    <span>Roadster</span>
                    <h5>Solid maroon top</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$60</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top15.webp" alt="">
                <div class="des">
                    <span>Libas</span>
                    <h5>Floral Dress</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top18.jfif" alt="">
                <div class="des">
                    <span>Libas</span>
                    <h5>Floral Dress</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top11.webp" alt="">
                <div class="des">
                    <span>Libas</span>
                    <h5>Floral Dress</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/top17.jpg" alt="">
                <div class="des">
                    <span>Rekha</span>
                    <h5>Embroided top</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$74</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart"></i></a>
            </div>
        </div>
    </section>

<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
</section>





<form action="/shop" method="POST">
<section id="newsletter" class="section-p1 section-m1">
    <div class="newsletter">
        <h4>Sign Up For Latest Updates</h4>
        <p>Get email updates about our latest shop and <span>special offers.</span></p>
    </div>

    </form>
    <div class="form">
        <input type="text" placeholder="Your email address" name="Email">
        <button class="normal">Sign Up</button>
    </div>
</section>
</form>

<footer class="section-p1">
    <div class="follow">
        <h4>Follow us</h4>
        <div class="icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Whishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>

<div class="col install">
    <h4>install App</h4>
    <p>From App Store or Google Play</p>
    <div class="row">
        <img src="img/app.jpg" width="100" alt="">

    </div>
</div>

<div class="copyright">
    <p>2023, Tech2 etc - HTML CSS Ecommerce Template</p>

</div>
</footer>


    <script src="script.js"></script>
</body>
</html>